**Elisabeth Gangwer**

**SQL Assignment 2**

**Problem 1**

_Part A_

<span style="font-family: TimesNewRomanPSMT; font-size: 12pt; background-color: rgb(255, 255, 255); color: var(--vscode-foreground);">The sales manager would first like to know the total sales revenue associated with each sales territory. Create a report showing the total sales revenue broken out by territory name. You can determine this by adding together the SubTotal figures from the relevant SalesOrderHeader records. Round the revenue figures to the nearest dollar and sort the list so that the highest revenue territory appears first.&nbsp;</span>

In [21]:
SELECT t.Name AS Territory
        , ROUND(SUM(soh.SubTotal),2) AS Revenue
FROM sales.SalesOrderHeader soh
INNER JOIN sales.SalesTerritory t
ON soh.TerritoryID = t.TerritoryID
GROUP BY t.Name
ORDER BY Revenue DESC

Territory,Revenue
Southwest,24184609.60
Canada,16355770.46
Northwest,16084942.55
Australia,10655335.96
Central,7909009.01
Southeast,7879655.07
United Kingdom,7670721.04
France,7251555.65
Northeast,6939374.48
Germany,4915407.60

_Part B_

<span style="font-size: 12.000000pt; font-family: 'TimesNewRomanPSMT'">The sales manager would now like to drill into the 2013 sales results. Revise your query from Part A to focus only on results from 2013 and break the results down by month. Your result set should include four columns: Name (of the territory), Month, Year, and SalesRevenue. This time, sort the list first by territory name, then by month.&nbsp;</span>

In [22]:
SELECT t.Name AS Name
        , DATEPART(MONTH,soh.OrderDate) AS Month
        , DATEPART(YEAR,soh.OrderDate) AS Year
        , SUM(ROUND(soh.SubTotal, 2)) AS SubTotal 
FROM sales.SalesOrderHeader soh
INNER JOIN sales.SalesTerritory t
ON soh.TerritoryID = t.TerritoryID
GROUP BY t.Name
        , DATEPART(MONTH, soh.OrderDate)
        , DATEPART(YEAR,soh.OrderDate)
HAVING DATEPART(YEAR,soh.OrderDate) = 2013
ORDER BY Name, Month

Name,Month,Year,SubTotal
Australia,1,2013,222513.74
Australia,2,2013,177688.08
Australia,3,2013,215687.87
Australia,4,2013,205166.17
Australia,5,2013,252418.68
Australia,6,2013,380028.94
Australia,7,2013,456778.30
Australia,8,2013,394785.63
Australia,9,2013,457109.64
Australia,10,2013,572304.23
Australia,11,2013,427532.80
Australia,12,2013,468650.34
Canada,1,2013,417124.97
Canada,2,2013,461555.77
Canada,3,2013,485927.22
Canada,4,2013,467353.35
Canada,5,2013,510800.69
Canada,6,2013,607974.54
Canada,7,2013,733453.36
Canada,8,2013,467319.04
Canada,9,2013,480936.03
Canada,10,2013,804615.13
Canada,11,2013,356269.03
Canada,12,2013,436188.55
Central,1,2013,179654.86
Central,2,2013,193946.75
Central,3,2013,283991.56
Central,4,2013,220321.85
Central,5,2013,216803.66
Central,6,2013,378577.90
Central,7,2013,348163.59
Central,8,2013,162557.58
Central,9,2013,324853.04
Central,10,2013,317442.96
Central,11,2013,113957.58
Central,12,2013,253954.05
France,1,2013,108416.08
France,2,2013,123078.75
France,3,2013,246492.35
France,4,2013,138184.25
France,5,2013,151472.55
France,6,2013,800815.33
France,7,2013,281399.88
France,8,2013,163918.72
France,9,2013,713906.81
France,10,2013,270755.39
France,11,2013,224718.69
France,12,2013,583347.38
Germany,1,2013,69560.68
Germany,2,2013,56643.38
Germany,3,2013,66449.99
Germany,4,2013,56415.79
Germany,5,2013,252220.21
Germany,6,2013,362449.93
Germany,7,2013,225864.87
Germany,8,2013,308560.94
Germany,9,2013,294496.33
Germany,10,2013,276967.05
Germany,11,2013,287290.63
Germany,12,2013,308301.24
Northeast,1,2013,152395.74
Northeast,2,2013,335168.92
Northeast,3,2013,341011.33
Northeast,4,2013,178884.55
Northeast,5,2013,190499.67
Northeast,6,2013,286992.81
Northeast,7,2013,273328.67
Northeast,8,2013,189074.38
Northeast,9,2013,181179.10
Northeast,10,2013,221905.19
Northeast,11,2013,140162.78
Northeast,12,2013,140656.48
Northwest,1,2013,118273.70
Northwest,2,2013,259074.24
Northwest,3,2013,546005.68
Northwest,4,2013,148981.75
Northwest,5,2013,431414.02
Northwest,6,2013,820494.06
Northwest,7,2013,702755.97
Northwest,8,2013,418149.73
Northwest,9,2013,711920.82
Northwest,10,2013,676265.71
Northwest,11,2013,544110.85
Northwest,12,2013,637728.36
Southeast,1,2013,139829.90
Southeast,2,2013,174643.92
Southeast,3,2013,213206.41
Southeast,4,2013,209090.14
Southeast,5,2013,177763.09
Southeast,6,2013,274597.06
Southeast,7,2013,289524.83
Southeast,8,2013,161507.39
Southeast,9,2013,233698.90
Southeast,10,2013,219935.78
Southeast,11,2013,114993.21
Southeast,12,2013,191156.68
Southwest,1,2013,494888.41
Southwest,2,2013,431230.44
Southwest,3,2013,846761.07
Southwest,4,2013,710288.05
Southwest,5,2013,848814.56
Southwest,6,2013,827496.43
Southwest,7,2013,967044.59
Southwest,8,2013,814277.09
Southwest,9,2013,787346.30
Southwest,10,2013,833387.83
Southwest,11,2013,805845.44
Southwest,12,2013,749160.21
United Kingdom,1,2013,185214.49
United Kingdom,2,2013,103891.93
United Kingdom,3,2013,166535.60
United Kingdom,4,2013,197580.18
United Kingdom,5,2013,213416.74
United Kingdom,6,2013,341642.09
United Kingdom,7,2013,618039.63
United Kingdom,8,2013,253813.54
United Kingdom,9,2013,347461.69
United Kingdom,10,2013,602234.07
United Kingdom,11,2013,297249.27
United Kingdom,12,2013,306343.31

_Part C_

<span style="font-size: 12.000000pt; font-family: 'TimesNewRomanPSMT'">The sales manager would like to recognize territories that had at least one month in 2013 with monthly sales over $750,000. Create a report listing these territories. It should contain a single column named AwardWinners and be sorted alphabetically. Territories can only win this award once, regardless of the number of months where they exceeded the threshold, so dont include duplicate values in your list.&nbsp;</span>

In [23]:
SELECT DISTINCT t.Name AS AwardWinners
FROM sales.SalesOrderHeader soh
INNER JOIN sales.SalesTerritory t
ON soh.TerritoryID = t.TerritoryID
WHERE DATEPART(YEAR,soh.OrderDate) = 2013
GROUP BY t.Name
        , DATEPART(MONTH, soh.OrderDate)
        , DATEPART(YEAR,soh.OrderDate)
HAVING SUM(ROUND(soh.SubTotal, 2)) > 750000
ORDER BY Name

AwardWinners
Canada
France
Northwest
Southwest

_Part D_

<span style="font-size: 12.000000pt; font-family: 'TimesNewRomanPSMT'">The sales manager would like to offer additional training to those territories that did not achieve the $750,000 at least once in 2013. Create a list of territories that did not achieve their target, sorted alphabetically. </span> <span style="font-size: 12.000000pt; font-family: 'TimesNewRomanPS'; font-weight: 700">Do this by using set theory, adding a few lines to your query from Part C.&nbsp;</span>

In [24]:
SELECT t.Name 
FROM sales.SalesTerritory t
EXCEPT
SELECT DISTINCT t.Name AS AdditionalTraining
FROM sales.SalesOrderHeader soh
INNER JOIN sales.SalesTerritory t
ON soh.TerritoryID = t.TerritoryID
WHERE DATEPART(YEAR,soh.OrderDate) = 2013
GROUP BY t.Name
        , DATEPART(MONTH, soh.OrderDate)
        , DATEPART(YEAR,soh.OrderDate)
HAVING SUM(ROUND(soh.SubTotal, 2)) > 750000
ORDER BY Name

Name
Australia
Central
Germany
Northeast
Southeast
United Kingdom

**Problem 2**

_Part A_

<span style="font-size: 12.000000pt; font-family: 'TimesNewRomanPSMT'">The production manager is considering dropping some products and would like to generate a report that lists finished goods products that have been sold, where the total sales volume is under 50 units. Create a report showing the product name and the total number of units ordered, showing the least units sold first.&nbsp;</span>

In [25]:
SELECT p.Name
        , SUM(sod.OrderQty) AS QuantitySold
FROM Production.Product p
INNER JOIN Sales.SalesOrderDetail sod
ON p.ProductID = sod.ProductID
WHERE p.FinishedGoodsFlag = 1
GROUP BY p.Name
HAVING SUM(sod.OrderQty) < 50
ORDER BY QuantitySold

Name,QuantitySold
"LL Touring Frame - Blue, 58",4
"ML Mountain Frame-W - Silver, 38",7
"LL Mountain Frame - Black, 40",8
LL Road Seat/Saddle,10
"LL Touring Frame - Blue, 62",15
"LL Mountain Frame - Black, 52",15
"HL Mountain Frame - Black, 44",17
"LL Touring Frame - Blue, 44",25
"LL Touring Frame - Yellow, 58",36
"LL Mountain Frame - Silver, 48",44

_Part B_

<span style="font-size: 12.000000pt; font-family: 'TimesNewRomanPSMT'">The production manager is working on profit projections for the coming year. She needs to make some assumptions about the sales tax rates in various countries and wants to use a conservatively selected single rate for each country.</span>

<span style="font-size: 12.000000pt; font-family: 'TimesNewRomanPSMT'">Create a report showing the maximum sales tax rate for each country AdventureWorks serves. Use the full country name in the report. Sort the list by tax rate with the highest tax rate first.&nbsp;</span>

In [26]:
SELECT MAX(t.TaxRate) AS MaxTaxRate
        , c.Name AS Country
FROM sales.SalesTaxRate t
INNER JOIN Person.StateProvince sp
ON sp.StateProvinceID = t.StateProvinceID
INNER JOIN Person.CountryRegion c
ON sp.CountryRegionCode = c.CountryRegionCode
GROUP BY c.CountryRegionCode
         , c.Name
ORDER BY MaxTaxRate DESC

MaxTaxRate,Country
19.60,France
17.50,United Kingdom
16.00,Germany
14.25,Canada
10.00,Australia
8.80,United States

_Part C_

<span style="font-size: 12.000000pt; font-family: 'TimesNewRomanPSMT'">The quality assurance department is issuing a recall for all helmets shipped during the first five days of February 2014 due to a safety issue. Stores will handle the notification of individual customers, but the sales department needs your help to follow up with stores that serve customers who received the helmets. Produce a listing of stores that shipped helmets during the recall&nbsp;</span><span style="font-family: TimesNewRomanPSMT; font-size: 12pt; color: var(--vscode-foreground);">period. Your result should have two columns:</span>

<span style="font-size: 12.000000pt; font-family: 'TimesNewRomanPSMT'">a. StoreName<br>b. TerritoryName</span>

<span style="font-family: TimesNewRomanPSMT; font-size: 12pt; color: var(--vscode-foreground);">Sort the list alphabetically, first by territory name and then by store name. Each store should only appear once in the list, regardless of the number of orders.</span>

In [27]:
SELECT DISTINCT store.Name AS StoreName
        , ter.Name AS Territory
FROM Production.Product pro
INNER JOIN Sales.SalesOrderDetail sod
ON sod.ProductID = pro.ProductID
INNER JOIN Sales.SalesOrderHeader soh
ON sod.SalesOrderID = soh.SalesOrderID
INNER JOIN Sales.Customer cust
ON soh.CustomerID = cust.CustomerID
INNER JOIN Sales.Store store
ON cust.StoreID = store.BusinessEntityID
INNER JOIN Sales.SalesTerritory ter
ON soh.TerritoryID = ter.TerritoryID
WHERE soh.ShipDate >= '2014-02-01 00:00:00.000'
AND soh.ShipDate < '2014-02-06 00:00:00.000'
AND soh.Status = 5
AND pro.Name LIKE '%Helmet%'
ORDER BY Territory, StoreName

StoreName,Territory
Bike Part Wholesalers,Australia
Nationwide Supply,Australia
Popular Bike Lines,Australia
Corner Bicycle Supply,Canada
Odometers and Accessories Company,Canada
Petroleum Products Distributors,Canada
Rapid Bikes,Canada
Vigorous Exercise Company,Canada
Local Sales and Rental,Central
Riders Company,Central
Work and Play Association,Central
World of Bikes,Central
Getaway Inn,France
Neighborhood Bicycle Storehouse,France
Racing Sales and Service,France
Educational Services,Germany
Enterprise Center,Germany
Rodeway Bike Store,Germany
Fourth Bike Store,Northeast
Glossy Bikes,Northeast
Larger Cycle Shop,Northeast
Recreation Systems,Northeast
The Bike Mechanics,Northeast
Fashionable Bikes and Accessories,Northwest
Blue-Ribbon Bike Company,Southeast
Excellent Riding Supplies,Southeast
Front Runner Bikes,Southeast
Sales and Supply Company,Southeast
Advanced Bike Components,Southwest
Chic Department Stores,Southwest
Coalition Bike Company,Southwest
Eastside Department Store,Southwest
First Cycle Store,Southwest
Futuristic Bikes,Southwest
Action Bicycle Specialists,United Kingdom
Riding Cycles,United Kingdom